<app-nav-publica></app-nav-publica>

<div *ngIf="!cargando && lista_noticias != null && lista_noticias.length > 0" class="container padding-top-1rem">
    <article  *ngFor="let noticia of lista_noticias" class="slds-card" [routerLink]="['/' + noticia.id_Noticia]">
      <div class="slds-card__header slds-grid">
        <header class="slds-media slds-has-flexi-truncate">
          <div class="slds-media__figure">
              <img [src]="print_img(noticia)" alt="">
          </div>
          <div class="slds-media__body">
            <h2 class="slds-card__header-title">{{ noticia.titulo }}</h2>
            <span [innerHTML]='print_date(noticia.fechaHora)'></span>
            <p [innerHTML]='print_text(noticia.texto)'></p>
          </div>
        </header>
      </div>
    </article>
</div>    

<div *ngIf="!cargando && (lista_noticias == null || lista_noticias.length == 0)" class="container padding-top-1rem">
  <div class='msg_no_noticias'>
    <H1>NO TENEMOS NOTICIAS</H1>
  </div>
</div>

<div class="loader" [class.active]="cargando">
  <ngl-spinner alternativeText="Loading"></ngl-spinner>
</div>