<app-nav-publica></app-nav-publica>
<div class="container padding-top-1rem">
  <div class="noticia">
    <h1>Titulo</h1>
    <span>10/10/1010</span>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error amet corporis, magni ullam, mollitia tempore animi nostrum magnam quos nihil nobis id! Voluptas qui, laborum rerum provident odio sit nisi!</p>
  </div>
  <div class="noticia">
    <h1>Titulo</h1>
    <span>10/10/1010</span>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error amet corporis, magni ullam, mollitia tempore animi nostrum magnam quos nihil nobis id! Voluptas qui, laborum rerum provident odio sit nisi!</p>
  </div>
  <div class="noticia">
    <h1>Titulo</h1>
    <span>10/10/1010</span>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error amet corporis, magni ullam, mollitia tempore animi nostrum magnam quos nihil nobis id! Voluptas qui, laborum rerum provident odio sit nisi!</p>
  </div>
</div>