<app-nav-publica></app-nav-publica>
<div class="container padding-top-1rem">
    <article  *ngFor="let noticia of lista_noticias" class="slds-card">
      <div class="slds-card__header slds-grid">
        <header class="slds-media slds-media_center slds-has-flexi-truncate">
          <div class="slds-media__figure">
              <img [src]="noticia.imagen" alt="">
          </div>
          <div class="slds-media__body">
            <h2 class="slds-card__header-title">{{ noticia.titulo }}</h2>
            <span>{{ print_date(noticia.fechaHora) }}</span>
            <p>{{ noticia.texto }}</p>
          </div>
        </header>
      </div>
    </article>
  <div *ngIf="lista_noticias == null || lista_noticias.length == 0" class=msg_no_noticias>
    <H1>NO TENEMOS NOTICIAS</H1>
  </div>
</div>