.slds-media__body {
    h2 {
        font-size: 2rem;
        font-weight: 900;
        color: rgb(250,0,0);
        margin: 0;
        margin-bottom: -0.5rem;
    }
    p {
        font-size: 1rem;
        font-weight: 500;
        color: #4c4c4c;
        margin-top: .5rem;
    }
    span {
        font-size: 0.75rem;
        margin-bottom: .25rem;
        color: #999
    }

}
.slds-media__figure {
    width: 200px;
    padding: .5rem;
}
.padding-top-1rem {
    padding-top: 1rem;
}

.msg_no_noticias {
    h1 {
        margin: 50px;
        font-size: 2rem;
        text-align: center;
        font-weight: 900;
        color: #999;
    }
}