<nav>
  <div class="salir">
    Salir
  </div>
  <div>
    <ul>
      <li [routerLink]="['/linea/consulta']" [routerLinkActive]="'active'" >Consulta</li>
      <li [routerLink]="['/linea/seguros/activos']" [routerLinkActive]="'active'" >Activos</li>
      <li [routerLink]="['/linea/seguros/vensidos']" [routerLinkActive]="'active'" >Vencidos</li>
      <li [routerLink]="['/linea/cliente']" [routerLinkActive]="'active'" >Clientes</li>
      <li [routerLink]="['/linea/noticias']" [routerLinkActive]="'active'" >Noticias</li>
    </ul>
  </div>
</nav>