<app-nav-privada></app-nav-privada>
<div class="container">
    <article class="slds-card">
        <div class="slds-card__header slds-grid">
          <header class="slds-media slds-media_center slds-has-flexi-truncate">
            <div class="slds-media__body">
              <h2 class="titulo">Seguros</h2>
            </div>
            <div class="slds-no-flex">
              <button class="slds-button slds-button_neutral" [routerLink]="['/linea/seguros/crea']">Crear</button>
            </div>
          </header>
        </div>
        <div class="slds-card__body">
            <table class="slds-table_bordered slds-max-medium-table_stacked-horizontal slds-table_fixed-layout" ngl-datatable [data]="lista_seguros" trackByKey="rank" [loading]="cargando" [(sort)]="sort" (sortChange)="onSort($event)" (rowClick)="onRowClick($event)">          

              <ngl-datatable-column heading="Tipo" key="tipo" truncate sortable>
                <ng-template nglDatatableCell let-value>
                  <span class='Color' [style.background-color]="print_color(value)"></span>
                  {{ value.nombre }}
                </ng-template>
              </ngl-datatable-column>

              <ngl-datatable-column heading="Titulo" key="titulo" sortable></ngl-datatable-column>
              
              <ngl-datatable-column heading="Cliente" key="cliente" truncate sortable>
                <ng-template nglDatatableCell let-value>
                  {{ print_cliente(value) }}
                </ng-template>
              </ngl-datatable-column>
              
              <ngl-datatable-column cellClass="width-50px"  headClass="width-50px" heading="Inicio" key="fechaInicio" truncate sortable>
                <ng-template nglDatatableCell let-value>
                  {{ print_date(value) }}
                </ng-template>
              </ngl-datatable-column>
        
              <ngl-datatable-column cellClass="width-50px"  headClass="width-50px" heading="Fin" key="fechaFechaFin" truncate sortable>
                <ng-template nglDatatableCell let-value>
                  {{ print_date(value) }}
                </ng-template>
              </ngl-datatable-column>
              
              <ngl-datatable-column cellClass="width-50px"  headClass="width-50px" heading="Costo" key="costoTotal" sortable></ngl-datatable-column>
                
              <ngl-datatable-column cellClass="width-btn"  headClass="width-btn text-center" heading="Ver" key="id_DeSeguro">
                <ng-template nglDatatableCell let-value>
                  
                  <button type="button" nglButton variant="brand" iconName="utility:edit" iconPosition="right" [routerLink]="['/linea/seguros/editar/' + value]">Editar</button>
                  <button type="button" nglButton variant="destructive" iconName="utility:delete" iconPosition="right" (click)="delete(value)">Delete</button>
                 
                </ng-template>
              </ngl-datatable-column>
              
              <!-- Loading overlay-->
              <ng-template nglLoadingOverlay>
                <div class="slds-box slds-box_small slds-theme_shade slds-text-align_center">Loading...</div>
              </ng-template>
    
              <!-- No rows overlay-->
              <ng-template nglNoRowsOverlay>No data available in table!</ng-template>
      
            </table>
        </div>
      </article>
</div>