<app-nav-privada></app-nav-privada>
<div class="container">
    <article class="slds-card">
        <div class="slds-card__header slds-grid">
          <header class="slds-media slds-media_center slds-has-flexi-truncate">
            <div class="slds-media__body">
              <h2 class="titulo">Seguros</h2>
            </div>
            <div class="slds-no-flex">
              <button class="slds-button slds-button_neutral" [routerLink]="['/linea/seguros/crea']">Crear</button>
            </div>
          </header>
        </div>
        <div class="slds-card__body">
          <table cellspacing="0" cellpadding="0" class='slds-table_bordered slds-table'>
              <thead>
                  <tr>
                      <th height='40px'>Titulo</th>
                      <th height='40px'>Cliente</th>
                      <th height='40px'>Desde</th>
                      <th height='40px'>Hasta</th>
                      <th height='40px'>Costo</th>
                      <th height='40px'></th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor='let seguro of lista_seguros' [style.background-color]="print_color(seguro)">
                      <td>{{ seguro.titulo }}</td>
                      <td>{{ print_cliente(seguro.cliente) }}</td>
                      <td>{{ print_date(seguro.fechaInicio) }}</td>
                      <td>{{ print_date(seguro.fechaFechaFin) }}</td>
                      <td>{{ seguro.costoTotal }}</td>
                      <td class='acciones'>
                          <button type="button" nglButton variant="brand" iconName="utility:edit" iconPosition="right" [routerLink]="['/linea/seguros/editar/' + seguro.id_DeSeguro]">Editar</button>
                          <button type="button" nglButton variant="destructive" iconName="utility:delete" iconPosition="right" (click)="delete(seguro.id_DeSeguro)">Delete</button>
                      </td>
                  </tr>

              </tbody>
          </table>
        </div>
      </article>
</div>