<app-nav-privada></app-nav-privada>

<div class="container">
    <article class="slds-card">
        <div class="slds-card__header slds-grid">
            <header class="slds-media slds-media_center slds-has-flexi-truncate">
                <div class="slds-media__body">
                    <h2 class="titulo" >Noticia</h2>
                </div>
                <div class="slds-no-flex">
              <button class="slds-button slds-button_neutral" [routerLink]="['/linea/noticias']">Listado</button>
              <button class="slds-button slds-button_neutral" (click)="guardar_noticia()">Guardar</button>
                </div>
            </header>
        </div>
        <div class="slds-card__body">
            <div class="loader" [class.active]="cargando">
                <ngl-spinner [size]="size" [variant]="variant" alternativeText="Loading"></ngl-spinner>
            </div>
                 
            <div class="slds-grid slds-gutters">
                <div class="slds-size_1-of-3 padding-right-0_5rem">
                    <div class="slds-m-vertical_medium imagen" >
                        <input type="file" accept="image/*" (change)="changeListener($event)">
                        <ngl-file [text]="" [iconName]="icon"><a href="javascript:void(0)" [nglFileCrop]="ratio">
                            <img [src]="noticia.imagen == null ? 'https://www.lightningdesignsystem.com/assets/images/placeholder-img@16x9.jpg' : noticia.imagen"></a>
                        </ngl-file>
                    </div>
                </div>
                <div class="slds-size_2-of-3 padding-left-0_5rem">
                    <ngl-input class='mb-1' label="Titulo" fieldLevelHelpTooltip="Titulo de la nueva noticia">
                        <input ngl [(ngModel)]="noticia.titulo" type="input" required placeholder="Titulo">
                    </ngl-input>
                    <br>
                    <div [froalaEditor]='froalaEditor' [(froalaModel)]="noticia.texto"></div>
                </div>
            </div>
        </div>
        
        <div class="loader" [class.active]="cargando">
            <ngl-spinner alternativeText="Loading"></ngl-spinner>
        </div>
    </article>
</div>

<div class="slds-notify_container">
    <ngl-toast *ngIf="showTopToast" [variant]="variant" (close)="showTopToast = false;" duration="5000">
      <h2 class="slds-text-heading_small">{{ msj }}</h2>
    </ngl-toast>
</div>