<app-nav-publica></app-nav-publica>
<div *ngIf="noticia != null">
  <div class='slds_header'>
    <img [src]="print_img(noticia)" alt="">
  </div>
  <h2 class="slds_title">{{ noticia.titulo }}</h2>
  <span class="slds_date">{{ print_date(noticia.fechaHora) }}</span>
  <p class="slds_text" [innerHTML]='noticia.texto' ></p>
</div>


<div class="error" *ngIf="noticia == null && !cargando">
    <img src="/assets/error.png" alt="">
    <h1>Error</h1>
</div>
<div class="loader" [class.active]="cargando">
  <ngl-spinner alternativeText="Loading"></ngl-spinner>
</div>

<div class="slds-notify_container">
  <ngl-toast *ngIf="showTopToast" [variant]="variant" (close)="showTopToast = false;" duration="5000">
    <h2 class="slds-text-heading_small">{{ msj }}</h2>
  </ngl-toast>
</div>