<div class="conteiner-center ">
  <div class="box-form">  
    <h1 class="titulo">Nuevo tipo de seguro</h1>
    <img class="gb-logo" src="/assets/logo.png" alt="" srcset="">

    <ngl-input label="Nombre" fieldLevelHelpTooltip="Nombre del tipo de seguro" [error]="hasError ? error : null">
        <input ngl type="input" [(ngModel)]="nombre" [required]="required" [disabled]="disabled" placeholder="Nombre">
    </ngl-input>
    <ngl-input label="Color"  fieldLevelHelpTooltip="Color del tipo de seguro" [error]="hasError ? error : null">
        <input ngl type="color" [(ngModel)]="color" [required]="required" [disabled]="disabled" placeholder="Color">
    </ngl-input>
    <button class="mt-10 slds-button slds-button_neutral" (click)="registro()">Confirmar</button>
    <div class="loader" [class.active]="cargando">
        <ngl-spinner [size]="size" [variant]="variant" alternativeText="Loading"></ngl-spinner>
      </div>
  </div>
  <div class="slds-notify_container">
    <ngl-toast *ngIf="showTopToast" [variant]="variant" (close)="showTopToast = false;" duration="5000">
      <h2 class="slds-text-heading_small">{{ msj }}</h2>
    </ngl-toast>
  </div>