<app-nav-user></app-nav-user>
<div class="container">
  <div *ngFor="let item of consultas">
    <div  *ngIf="item.id_Consulta == idConsulta">
      <div class="slds-card">
        <div class="slds-card__header slds-grid">
          <header class="slds-media slds-media_center slds-has-flexi-truncate">
            <div class="slds-media__body">
              <h2 class="sub-titulo">
                {{item.titulo}}
              </h2>
              <p>Fecha de envío: {{print_date(item.fechaHora)}}</p>
              <ng-container *ngIf="item.consultaVista == true; else elseTemplate" st>
                <p style="color: red">La consulta fue leída por un administrador.</p>
              </ng-container>
              <ng-template #elseTemplate>
                <p style="color: red">La consulta aún no ha sido leída por un administrador.</p>
              </ng-template>
            </div>
          </header>
        </div>
        <div class="slds-card_body" style="margin-left: 1rem">
          <h5 class="subTituloConsulta">
            Tu consulta:
          </h5>
          <div class="fondo">
            <p>{{item.consulta}}</p>
          </div>
          <br>
          <h5 class="subTituloConsulta">
              Respuesta:
            </h5>
          <ng-container *ngIf="item.respuesta.length > 0; else elseTemplate2">
            <div class="fondo">
              <p>{{item.respuesta}}</p>
            </div>
          </ng-container>
          <ng-template #elseTemplate2>
            <p style="color: red">En cuanto un administrador lea su consulta le respondera a la brevedad.</p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
