<app-nav-publica></app-nav-publica>
<header>
    <h1>¿Quiénes Somos?</h1>
    <h2>y en que te podemos ayudar</h2>
</header>
<div class="container padding-top-1rem">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error amet corporis, magni ullam, mollitia tempore animi nostrum magnam quos nihil nobis id! Voluptas qui, laborum rerum provident odio sit nisi!</p>
  <ul class="Items">
      <li (click)="listaSeguros()">
        <h3>Ve nuestros seguros</h3>
        <p>Encuentra el seguro mas acorde a tus necesidades</p>
      </li>
      <li (click)="registro()">
        <h3>No pierdas la oportunidad</h3>
        <p>Aprovecha ya, no te arriesgues, registrate ahora y gestiona tu seguridad</p>
      </li>
  </ul>
</div>