<app-nav-user></app-nav-user>
<div class="container">
    <div class="slds-card">
        <div class="slds-card__header slds-grid">
            <header class="slds-media slds-media_center slds-has-flexi-truncate">
                <div class="slds-media__body">
                    <h2 class="titulo">Tus consultas</h2>
                </div>
                <div class="slds-no-flex">
                    <button class="slds-button slds-button_neutral" [routerLink]="['/user/consulta/nueva']">Consultar</button>
                </div>
            </header>
        </div>
        <div class="slds-card_body cuadroConsulta">
            <ngl-tabset [(selected)]="selectedTab" [variant]="variant">
                <ng-template ngl-tab label="Sin leer">
                    <table class="slds-table_bordered slds-max-medium-table_stacked-horizontal slds-table_fixed-layout" ngl-datatable [data]="consultasSinLeer" trackByKey="rank" [loading]="cargando" [(sort)]="sort" (sortChange)="onSort($event)" (rowClick)="onRowClick($event)">
                        <ngl-datatable-column heading="Ver" key="id_Consulta">
                            <ng-template nglDatatableCell let-value>
                                <button type="button" nglButton variant="brand" [routerLink]="[ '/user/consulta/ver', value ]" (click)="put_respuestaVista(value)">Ver</button>
                            </ng-template>
                        </ngl-datatable-column>
                        <ngl-datatable-column heading="Asunto" key="titulo" sortable></ngl-datatable-column>
                        <ngl-datatable-column heading="Fecha de envío" key="fechaHora" truncate sortable>
                            <ng-template nglDatatableCell let-value>
                                {{ print_date(value) }}
                            </ng-template>
                        </ngl-datatable-column>
                        <!-- Loading overlay-->
                        <ng-template nglLoadingOverlay>
                            <div class="slds-box slds-box_small slds-theme_shade slds-text-align_center">Cargando...</div>
                        </ng-template>
                        <!-- No rows overlay-->
                        <ng-template nglNoRowsOverlay>No tienes nuevas consultas respondidas para leer.</ng-template>
                    </table>
                </ng-template>
                <ng-template ngl-tab label="Sin respuesta">
                    <table class="slds-table_bordered slds-max-medium-table_stacked-horizontal slds-table_fixed-layout" ngl-datatable [data]="consultasSinResponder" trackByKey="rank" [loading]="cargando" [(sort)]="sort" (sortChange)="onSort3($event)" (rowClick)="onRowClick($event)">
                        <ngl-datatable-column heading="Ver" key="id_Consulta">
                            <ng-template nglDatatableCell let-value>
                                <button type="button" nglButton variant="brand" [routerLink]="[ '/user/consulta/ver', value ]">Ver</button>
                            </ng-template>
                        </ngl-datatable-column>
                        <ngl-datatable-column heading="Asunto" key="titulo" sortable>
                            <ng-template nglDatatableCell let-value>
                                {{value}}
                            </ng-template>
                        </ngl-datatable-column>
                        <ngl-datatable-column heading="Fecha de envío" key="fechaHora" truncate sortable>
                            <ng-template nglDatatableCell let-value>
                                {{ print_date(value) }}
                            </ng-template>
                        </ngl-datatable-column>
                        <!-- Loading overlay-->
                        <ng-template nglLoadingOverlay>
                            <div class="slds-box slds-box_small slds-theme_shade slds-text-align_center">Cargando...</div>
                        </ng-template>
                        <!-- No rows overlay-->
                        <ng-template nglNoRowsOverlay>No tienes consultas pendientes de respuesta.</ng-template>
                    </table>
                </ng-template>
                <ng-template ngl-tab label="Resueltas">
                    <table class="slds-table_bordered slds-max-medium-table_stacked-horizontal slds-table_fixed-layout" ngl-datatable [data]="consultasResueltas" trackByKey="rank" [loading]="cargando" [(sort)]="sort" (sortChange)="onSort2($event)" (rowClick)="onRowClick($event)">
                        <ngl-datatable-column heading="Ver" key="id_Consulta">
                            <ng-template nglDatatableCell let-value>
                                <button type="button" nglButton variant="brand" [routerLink]="[ '/user/consulta/ver', value ]">Ver</button>
                            </ng-template>
                        </ngl-datatable-column>
                        <ngl-datatable-column heading="Asunto" key="titulo" sortable></ngl-datatable-column>
                        <ngl-datatable-column heading="Fecha de envío" key="fechaHora" truncate sortable>
                            <ng-template nglDatatableCell let-value>
                                {{ print_date(value) }}
                            </ng-template>
                        </ngl-datatable-column>
                        <!-- Loading overlay-->
                        <ng-template nglLoadingOverlay>
                            <div class="slds-box slds-box_small slds-theme_shade slds-text-align_center">Cargando...</div>
                        </ng-template>
                        <!-- No rows overlay-->
                        <ng-template nglNoRowsOverlay>No tienes consultas respondidas que hayas leído previamente.</ng-template>
                    </table>
                </ng-template>
            </ngl-tabset>
        </div>
    </div>
</div>