<app-nav-user></app-nav-user>
<div class="container">
    <div class="slds-card">
        <div class="slds-card__header slds-grid">
            <header class="slds-media slds-media_center slds-has-flexi-truncate">
                <div class="slds-media__body">
                    <h2 class="titulo">Tus consultas</h2>
                </div>
                <div class="slds-no-flex">
                    <button class="slds-button slds-button_neutral" [routerLink]="['/user/consulta/nueva']">Realizar nueva consulta</button>
                </div>
            </header>
        </div>
        <div class="slds-card_body cuadroConsulta">
            <ngl-tabset [(selected)]="selectedTab" [variant]="variant">
                <ng-template ngl-tab label="Pendientes de lectura">
                    
                </ng-template>
                <ng-template ngl-tab label="Pendientes de respuesta">
                    <li *ngFor="let item of consultas">
                        <ng-container *ngIf="item.respuesta != null">
                            <a [routerLink]="[ '/user/consulta/ver', item.id_Consulta ]">{{item.titulo}}</a>
                        </ng-container>
                    </li>
                </ng-template>
                <ng-template ngl-tab label="Resueltas">
                    
                </ng-template>
            </ngl-tabset>
        </div>
    </div>
</div>