.subTituloConsulta{
    color: #c80000;
    font-size: 1rem;
    font-weight: 600;
}    
li{
    padding: 0.3rem;
}
.liTitulo{
    color: #c80000;
    font-weight: bold;
}
button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}