<app-nav-user></app-nav-user>
<div class="container">
  <div class="slds-card">
      <div class="slds-card_body">
          <ngl-input label="Título" [error]="hasErrorTitulo ? error : null">
              <input ngl [(ngModel)]="consulta.titulo" type="input" [required]="required" [disabled]="disabled" placeholder="Título de la consulta">
          </ngl-input>
          <ngl-textarea label="Consulta" [error]="hasErrorConsulta ? error : null">
              <textarea [(ngModel)]="consulta.consulta" ngl [required]="required" [disabled]="disabled" placeholder="Escribe tu consulta aquí"></textarea>
          </ngl-textarea>
          <span class="botonCentro"><button type="button" nglButton variant="brand" (click)="post_consulta()">Enviar consulta</button></span>
      </div>
      <ngl-modal [(open)]="open">
          <div class="slds-p-around_medium">
            <ng-container *ngIf="enviada == true; else elseTemplate">
                <p>Tu consulta ha sido enviada, cuando uno de nuestro agentes responda a su consulta le será notificado.</p>
                <button type="button" nglButton variant="brand" (click)="redirigir()">Volver a la pagina de consultas</button>
              </ng-container>
            <ng-template #elseTemplate>
                <p>Ha ocurrido un error al enviar la consulta, por favor intentelo nuevamente.</p>
            </ng-template>
          </div>
      </ngl-modal>
  </div>
</div>