<app-nav-user></app-nav-user>
<div class="container">
  <div class="slds-card">
      <div class="slds-card_body p-1rem">
          <ngl-input label="Título" [error]="hasErrorTitulo ? error : null">
              <input ngl [(ngModel)]="consulta.titulo" type="input" [required]="required" [disabled]="disabled" placeholder="Título de la consulta">
          </ngl-input>
          <ngl-textarea label="Consulta" [error]="hasErrorConsulta ? error : null">
              <textarea [(ngModel)]="consulta.consulta" ngl [required]="required" [disabled]="disabled" placeholder="Escribe tu consulta aquí"></textarea>
          </ngl-textarea>
          <span class="botonCentro"><button type="button" nglButton variant="brand" (click)="post_consulta()">Enviar consulta</button></span>
          <div class="slds-notify_container">
            <ngl-toast *ngIf="showTopToast" [variant]="variant" (close)="showTopToast = false;" duration="5000">
                <h2 class="slds-text-heading_small">{{ msj }}</h2>
            </ngl-toast>
        </div>
      </div>
  </div>
</div>