<app-nav-publica></app-nav-publica>

<div class="container">
    <h1 class="titulo">Contactanos</h1>
    <ngl-input label="Email" fieldLevelHelpTooltip="Email, nombre o forma de contacto">
        <input ngl type="input" required placeholder="Email o numero">
    </ngl-input>
    <ngl-textarea label="Consulta" fieldLevelHelpTooltip="Su consulta aqui">
        <textarea ngl required placeholder="Contenido"></textarea>
    </ngl-textarea>
    <button class="slds-button slds-button_neutral"> Mandar </button>
</div>