/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: rgb(249, 249, 249)!important; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.container {
    width: 100%;
    position: relative;
    display: block;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}
.titulo {
    color: #c80000;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.sub-titulo {
    color: #c80000;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;

}
.slds-form-element__label {
    margin-left: 0.5rem;
}
.img-logo {
    height: 20px;
    margin: 0 10px;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.padding-0_5rem{
    padding: 0.5rem;
}
.padding-left-0_5rem{
    padding-left: 0.5rem;
}
.padding-right-0_5rem{
    padding-right: 0.5rem;
}