<app-nav-publica></app-nav-publica>
<header>
  <h1>Vea alguno de nuestros Servicios</h1>
  <h2>Por que la vida asi se difruta mas</h2>
</header>


    <ul>
      <li><div class="container">
        <h3>Seguros de vida estander <span class='marcador' style='background: #5856d6'></span> </h3>
        <p>Por que no se preocupe por como estara tu familia cuando no este, seguro de vida para no procuparse mas</p>
        <img src="./assets/icon1.png" alt="" srcset="">
      </div></li>
      <li><div class="container">
        <h3><span class='marcador' style='background: #ff3b30'></span> Seguros anti robo</h3>
        <p>La opcion mas economica para robos, protega su esas pertenencias que tanto le costaron</p>
        <img src="./assets/icon2.png" alt="" srcset="">
      </div></li>
    </ul>
