<app-nav-publica></app-nav-publica>
<header>
  <h1>Vea alguno de nuestros Servicios</h1>
  <h2>Porque la vida así se difruta más</h2>
</header>


    <ul>
      <li><div class="container">
        <h3>Seguros de vida estandar <span class='marcador' style='background: #5856d6'></span> </h3>
        <p>Por que no se preocupe por como estará tu familia cuando no este, seguro de vida para no procuparse más</p>
        <img src="./assets/icon1.png" alt="" srcset="">
      </div></li>
      <li><div class="container">
        <h3><span class='marcador' style='background: #ff3b30'></span> Seguros anti-robo</h3>
        <p>La opción mas económica para robos, proteja esas pertenencias que tanto le costaron</p>
        <img src="./assets/icon2.png" alt="" srcset="">
      </div></li>
    </ul>
