<app-nav-user></app-nav-user>
<div class="container">
    <article class="slds-card">
        <div class="slds-card__header slds-grid">
          <header class="slds-media slds-media_center slds-has-flexi-truncate">
            <div class="slds-media__body">
              <div class="slds-no-flex">
                <h2 class="titulo">Seguros</h2>
              </div>
              <div class="slds-no-flex">
                <p>
                  <span style="color:red" class="slds-icon_container slds-icon-utility-announcement slds-current-color" title="iconoVencimiento">
                    <svg class="slds-icon slds-icon-text-default slds-icon_small" aria-hidden="true">
                      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#warning"></use>
                    </svg>
                  </span>
                 Indica que falta menos de un mes para que venza el seguro.</p>
              </div>
            </div>
          </header>
        </div>
        <div class="slds-card__body cuadroConsulta">
          <ngl-tabset [(selected)]="selectedTab" [variant]="variant">
            <ng-template ngl-tab label="Activos">
              <table class="slds-table_bordered slds-max-medium-table_stacked-horizontal slds-table_fixed-layout" ngl-datatable [data]="lista_segurosActivos" trackByKey="fechaFechaFin" [loading]="cargando" [(sort)]="sort" (sortChange)="onSort($event)">          
                
                <ngl-datatable-column heading="Tipo" key="tipo" cellClass="width-50px"  headClass="width-50px" truncate>
                  <ng-template nglDatatableCell let-value>
                    <span class='Color' [style.background-color]="print_color(value)"></span>
                  </ng-template>
                </ngl-datatable-column>
                <ngl-datatable-column heading="Titulo" key="titulo"></ngl-datatable-column>
                <ngl-datatable-column heading="Vencimiento" key="fechaFechaFin" truncate sortable>
                  <ng-template nglDatatableCell let-value>
                      <ng-container *ngIf="porVencer(value)">
                        <span style="color:red" class="slds-icon_container slds-icon-utility-announcement slds-current-color" title="Falta menos de un mes para que venza el seguro!">
                          <svg class="slds-icon slds-icon-text-default  slds-icon_x-small" aria-hidden="true">
                            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#warning"></use>
                          </svg>
                          <span class="slds-assistive-text">Falta menos de un mes para que venza el seguro!</span>
                        </span>
                      </ng-container>
                    {{ print_date(value) }}
                  </ng-template>
                </ngl-datatable-column>
                <ngl-datatable-column headClass="text-center" heading="Ver" key="id_DeSeguro">
                  <ng-template nglDatatableCell let-value>
                    <a [routerLink]="[ '/user/seguros/ver', value ]">Ver</a>
                  </ng-template>
                </ngl-datatable-column>
                
                  <!-- Loading overlay-->
                  <ng-template class="loader" nglLoadingOverlay>
                    <ngl-spinner alternativeText="Loading"></ngl-spinner>
                  </ng-template>
  
                  <!-- No rows overlay-->
                  <ng-template nglNoRowsOverlay>No tienes ningún seguro activo actualmente!</ng-template>
          
              </table>
            </ng-template>
            <ng-template ngl-tab label="Vencidos">
              <div>
                <ngl-combobox label="Filtra tus seguros por fecha" [options]="options" [(open)]="open" [(selection)]="selection" (selectionChange)="filtroVencidos()">
                  <input nglCombobox placeholder="Selecciona un rango">
                </ngl-combobox>
                <!-- <button type="button" nglButton variant="brand" (click)="filtroVencidos()">Filtrar</button> -->
              </div>
              <table class="slds-table_bordered slds-max-medium-table_stacked-horizontal slds-table_fixed-layout" ngl-datatable [data]="lista_segurosVencidosFiltro" trackByKey="rank" [loading]="cargando" [(sort)]="sort" (sortChange)="onSort($event)">          
              
                <ngl-datatable-column heading="Tipo" key="tipo" cellClass="width-50px"  headClass="width-50px" truncate>
                  <ng-template nglDatatableCell let-value>
                    <span class='Color' [style.background-color]="print_color(value)"></span>
                  </ng-template>
                </ngl-datatable-column>
                <ngl-datatable-column heading="Titulo" key="titulo"></ngl-datatable-column>
                <ngl-datatable-column heading="Vencimiento" key="fechaFechaFin" truncate>
                  <ng-template nglDatatableCell let-value>
                    {{ print_date(value) }}
                  </ng-template>
                </ngl-datatable-column>
                <ngl-datatable-column headClass="text-center" heading="Ver" key="id_DeSeguro">
                  <ng-template nglDatatableCell let-value>
                    <a [routerLink]="[ '/user/seguros/ver', value ]">Ver</a>
                  </ng-template>
                </ngl-datatable-column>
                
                <!-- Loading overlay-->
                <ng-template class="loader" nglLoadingOverlay>
                  <ngl-spinner alternativeText="Loading"></ngl-spinner>
                </ng-template>
  
                  <!-- No rows overlay-->
                  <ng-template nglNoRowsOverlay>No tienes ningún seguro vencido actualmente!</ng-template>
          
              </table>
            </ng-template>
          </ngl-tabset>  
        </div>
      </article>
</div>
